<!DOCTYPE html>
<html lang="pt-br">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GRTS-Autenticação</title>
   
    <link rel="stylesheet" href="../css/index.css">
   
</head>
<body>
    
    <header class="main-header">
        <H1 class="rt">GRTS</H1>
        <h3>Distribuição de Alimentos</h3>
    </header>
    <div class="main-div" >
        <div class="login-div">
            <form action="../../Controller/controllerLogin.php" method="POST">
                <p>Login:<input type="text" id="Login" "></p>
                <p>Senha: <input type="password" id="senha"></p>
                <button>Acessar</button>
            </form>
            
        </div>

        
        
    </div>
   
   

</body>
</html>