body{
   background-color:  #243864;
}

label{
   color: white;
}



.index-header{
   font-family: 'Bitstream Vera Sans', Verdana, Tahoma, 'Sans serif';
   font-size: 10pw;
   background-color: #3A5693;
   text-align: center;
   color: ghostwhite;
   height: 200px;
   padding: 5%;
  
  
}

.login-div{

    display: flex;
    align-items: center;
    height: 230px;
    width: 300px;
    border: 2px solid ghostwhite;
    border-radius: 5px;
    margin-left: 40%;
    margin-top: 3%;
    flex-direction: column;
    flex-wrap: wrap;
  
}



