/*  tag */



h2{
    text-align: center;
    color: black
}

   


.form-group{
    color: black;

}
.main-header{
    padding: 20px;
    text-align: center;
    color: aliceblue;
}

.container{
   padding: 5%;
  
   font-family: 'Times New Roman', Times, serif;
   color: rgb(19, 3, 3);
   border: solid 2px black;
  
}

.add-div{
    margin-top: 10%;
    padding: 80px;
    font-family: 'Times New Roman', Times, serif;
    border: solid 2px black;
    width: 60%;
    margin-left: 20%;
    
}

.delete-div{
    padding: 80px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(19, 3, 3);
    
}

.alter-div{
    padding: 80px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(216, 201, 201);
}